<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportStore</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />


</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Sport Store</a>
    </div>

    <div class="row panel">
        <div id="catagories" class="col-xs-3">
            Something later
        </div>


        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
